footer {  
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  background: #0000002b;
  padding-left: 20px;

  a {
    display: flex;
    align-items: center;
    margin-left: 5px;
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
  }
}